h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

body {
    padding-top: 60px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: blue;
    font-style: italic;
}

a:visited {
    color: rgb(80, 19, 19);
}

a:hover {
    color: orangered;
    list-style: none;
    text-decoration: none;
}

img {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

@media print {

    #header,
    #footer,
    #nav {
        display: none !important;
    }

    body {
        background: none;
    }

    img {
        max-width: 100% !important;
    }

}

.welcome {
    height: 100vh;
    border: 5px black solid;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px black solid;
    border-top: 60px solid transparent;
    margin-top: -60px;
    /* background-clip: padding-box; */
}

.project-tile {
    border: 3px darkgoldenrod solid;
}